@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box
};

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
};

body {
    font-family: v.$font-primary;
    font-size: 1.6rem;
    background-color: v.$black;
};

p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 300;
    color: v.$white;
};

a {
    color: v.$white;
    text-decoration: none;
};

li {
    list-style: none;
};

h1 {
    font-size: 4rem;
    color: v.$white;
    text-transform: uppercase;
};

h2 {
    font-size: 3.6rem;
    color: v.$white;
    text-transform: uppercase;
};

h3 {
    font-size: 3rem;
    color: v.$white;
    text-transform: uppercase;
};

button {
    color: v.$white;
    text-transform: uppercase;
}

input::placeholder {
    color: v.$white;
    text-transform: uppercase;
}

.contenedor {
    width: 90%;
}
