// Tipografia
$font-primary: 'Roboto', sans-serif;

// Colores
$blue: #265db0;
$dark-blue: #1B417A;    
$white: #fff;
$black: #000;

// Media  Query
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
